{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block includes_block %}
{% endblock %}

{% block body_block %}
<div class="container-fluid">
    <div class="row mb-3">
        <div class = "col">
            <strong class="fs-1 titles">About</strong>
            <div class="me-5">
                <hr class="mysolid">
            </div>
        </div>
    </div>

    <div class="row ps-3 pe-5 d-flex">
        <div class="col-lg-5 mb-5">
            <img src="{% static 'images/placeholder.jpg' %}" class = " rounded blackshadow" width = 100% height = auto alt = "picture of me">
        </div>

        <div class="col bg-dark rounded blackshadow mb-5 ms-5 me-2 pt-2 align-items-center" style = "height:fit-content">
            <div class="container-fluid">
                <div class="text-end fs-1 titles">
                    <strong>Davd Mead</strong>
                    <div class="ms-5 ps-5">
                        <hr class="mysolid">
                    </div>
                </div>
            </div>
            
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col text-end">
                        I am a Electronc Engineering student at Glasgow Universty. 
                        <br><br>
                        I have an intrest in how we intreact with the world thorugh Software and hardware like websites, video games, phyisical devices like phone and remotes.
                        <br><br>
                        This webpage is my <em>"informationHub"</em> it is here to dispay all my completed and in progress projects for employers, myself and other to look at.
                    </div>
                </div>

                <div class="row justify-content-center align-items-center g-2 bg-dark rounded p-3 mt-3 mb-3 titles">
                    <div class="col text-center">
                        <div class="btn-group">
                            <button class="btn btn-secondary dropdown rounded blackshadow" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                              Languages
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton">
                              <li><a class="dropdown-item" href="#">Menu item</a></li>
                              <li><a class="dropdown-item" href="#">Menu item</a></li>
                              <li><a class="dropdown-item" href="#">Menu item</a></li>
                            </ul>
                          </div>
                    </div>
                    <div class="col text-center">
                        <div class="btn-group">
                            <button class="btn btn-secondary dropdown rounded blackshadow " type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                              Skills
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark dropdown-menu-center" aria-labelledby="dropdownMenuButton">
                              <li><a class="dropdown-item" href="#">Menu item</a></li>
                              <li><a class="dropdown-item" href="#">Menu item</a></li>
                              <li><a class="dropdown-item" href="#">Menu item</a></li>
                            </ul>
                          </div>
                    </div>

                    <div class="col text-center">
                        <a name="" id="" class="btn btn-secondary blackshadow  rounded " href="#" role="button">View CV</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}