<!DOCTYPE html>

{% load staticfiles %}

<html>
    <head lang = "en">

        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>
            David Mead - 
            {% block title_block %}
            {% endblock %}
        </title>
        <link rel="website icon" type="png" href="{% static 'images/informationhublogo.jpg' %}">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" 
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
        <link href="{% static 'styles/base.css' %}" rel="stylesheet">

        {% block includes_block %}
        {% endblock %}
    </head>


    <body class = "customBackground w-100">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark blackshadow sticky-top ps-3 pe-3 titles">
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'informationhub:homepage' %}">
                    <img src="{% static 'images/informationhublogo.jpg' %}" class="rounded-circle d-inline-block align-text-top" alt="" width="30" height="24">
                    theInformationHub
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 al">
                    <li class="nav-item">
                        <a class="nav-link {{ homepage }}" aria-current="page" href="{% url 'informationhub:homepage' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ portfolio }}" href="{% url 'informationhub:portfolio' %}">Portfolio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{ about }}" href="{% url 'informationhub:about' %}">About</a>
                    </li>
                    </ul>
                    <span class="navbar-text">
                        <div class="btn-group">
                            <button class="btn btn-dark" type="button" id="triggerId" data-bs-toggle="dropdown" aria-haspopup="true" data-bs-display="static" aria-expanded="false">
                                        Contact Me
                            </button>
                            <div class="dropdown-menu dropdown-menu-dark dropdown-menu-start dropdown-menu-lg-end" aria-labelledby="triggerId">
                                <div class="dropdown-item btn btn-dark rounded">  davidmead014@gmail.com<button name="copy" onClick="copyText()" class="btn btn-dark ms-2" href="#" role="button">Copy</button></div>
                                <script>
                                    function copyText(){
                                        navigator.clipboard.writeText("davidmead014@gmail.com")
                                    }
                                </script>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </nav>

        <main class = "text-light pt-3 overflow-hidden customBackground">
            {% block body_block %}
            {% endblock %}
        </main>

        <footer class = "bg-dark py-5 mt-5 container-fluid titles">
            <div class="row justify-content-center align-items-center g-2">
                <div class="col">
                    <div class="container text-light text-center">
                        <p class = "display-5 mb-3">
                            theInformationHub <br> 
                            <small class="text-white-50">By David Mead</small>
                        </p>
                        <small class="text-white-50">&copy; Copyright by David Mead. All rights reserved</small>
                    </div>
                </div>
        </footer>
        <script src="{% static 'javaScript/base.js' %}"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" 
        crossorigin="anonymous"></script>
    </body>


</html>