{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    HeartBeat Sensor
{% endblock %}

{% block includes_block %}
{% endblock %}

{% block body_block %}
<div class="container-fluid ms-5 me-5">
    <div class="row justify-content-center align-items-center text-center g-2">
        <div class="col">
            <div id="carouselId" class="carousel rounded" data-bs-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-bs-target="#carouselId" data-bs-slide-to="0" class="active" aria-current="true" aria-label="First slide"></li>
                    <li data-bs-target="#carouselId" data-bs-slide-to="1" aria-label="Second slide"></li>
                    <li data-bs-target="#carouselId" data-bs-slide-to="2" aria-label="Third slide"></li>
                </ol>
                <div class="carousel-inner rounded" role="listbox">
                    <div class="carousel-item active">
                        <img src="{% static 'images/heartbeat.jpg' %}" class="portfoliocrop d-block" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <video class = "portfoliocrop" src = "{}">
                        <img src="holder.js/900x500/auto/#666:#444/text:Second slide" class="w-100 d-block" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img src="holder.js/900x500/auto/#666:#444/text:Third slide" class="w-100 d-block" alt="Third slide">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselId" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselId" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        
        <div class="col">
            Column
        </div>
    </div>
</div>
{% endblock %}