{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block includes_block %}
{% endblock %}

{% block body_block %}
<div class="container-fluid mb-5">
    <div class="row justify-content-center align-items-center g-2">

        <div class="col-lg-5 text-center d-flex align-items-center justify-content-center mt-3 pt-5 pb-5">
            <img src="{% static 'images/placeholder.jpg' %}" class="profile" alt="Picture of Me">
        </div>


        <div class="col-lg-5 align-items-center">
                <h4 class ="text-start text-white-50">Hi, My name is</h4>
                <h1 class="text-start">David Mead</h1>
                <h4 class ="text-start text-white-50">Welcome to theInformationHub</h4>

        </div>
    </div>
</div>
<div class="card-group card-group-scroll m-1 ps-5 pe-5 g-5">

    <div class="card bg-dark me-2">
        <img src="{% static 'images/placeholder.jpg' %}" class="" alt="Project placeholder"/>
        <div class="card-body bg-dark">
            <h5 class="card-title">HeartBeat Monitor</h5>
            <p class="card-text">
               Myself and Lab partner built a heartbeat sensor with a Freadom board and combined it with 2 external cicuits for the input and output.
            </p>
        </div>
    </div>

    <div class="card bg-dark me-2">
        <img src="{% static 'images/placeholder.jpg' %}" class="" alt="Project placeholder"/>
        <div class="card-body bg-dark">
            <h5 class="card-title">myChatGla</h5>
            <p class="card-text">
               Myself and a team created a website called myChatGla that uses bootstap, databases, ajax and much more to provide an aesthetic chatroom website.
            </p>
        </div>
    </div>

    <div class="card bg-dark me-2">
        <img src="{% static 'images/placeholder.jpg' %}" class="" alt="Project placeholder"/>
        <div class="card-body bg-dark">
            <h5 class="card-title">placeholder</h5>
            <p class="card-text">
              placeholder
            </p>
        </div>
    </div>

    <div class="card bg-dark me-2">
        <img src="{% static 'images/placeholder.jpg' %}" class="" alt="Project placeholder"/>
        <div class="card-body bg-dark">
            <h5 class="card-title">placeholder</h5>
            <p class="card-text">
              placeholder
            </p>
        </div>
    </div>

    <div class="card bg-dark me-2">
        <img src="{% static 'images/placeholder.jpg' %}" class="" alt="Project placeholder"/>
        <div class="card-body bg-dark">
            <h5 class="card-title">placeholder</h5>
            <p class="card-text">
              placeholder
            </p>
        </div>
    </div>
    <div class="card bg-dark">
        <img src="{% static 'images/placeholder.jpg' %}" class="" alt="Project placeholder"/>
        <div class="card-body bg-dark">
            <h5 class="card-title">placeholder</h5>
            <p class="card-text">
              placeholder
            </p>
        </div>
    </div>

</div>
{% endblock %}