{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    theInformationHub
{% endblock %}

{% block includes_block %}
{% endblock %}

{% block body_block %}
<div class="container-fluid">
    <div class="row">
        <div class="container-fluid pb-4">
            <div class="col text-start ps-1">
                <strong class="fs-1 titles">theInformationHub</strong>
                <div class="me-5">
                    <hr class="mysolid">
                </div>
            </div>
        </div>
    </div>
    <div class="row text-center">
        <div class="col">
            Image gallary
        </div>
        
        <div class="col">
            Description of project
        </div>
    </div>
</div>
{% endblock %}