:root{
  --bg-color : #212529f3;
}


.titles{
  font-family:'Source Code Pro',monospace;
}

.customBackground{
    background-color: var(--bg-color);
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

.profile{
    width:400px;
    filter: drop-shadow(0 0 0.25rem grey);
}


.card-group.card-group-scroll {
        overflow: hidden;
        overflow-x: auto;
        flex-wrap: nowrap;
    }


.card-group.card-group-scroll > .card {
    flex-basis: 35%;
}

.blackshadow{
  filter: drop-shadow(0px 5px 24px #000);
}
main {
    overflow: hidden;
  }

hr.mysolid {
    border-top: 3px solid white;
  }

  .portfoliocrop{
    height:433px;
    width: 100%;
    object-fit: cover;
  }

  .languageimage{
    height:auto;
    width: 100px;
    object-fit: cover;
  }

  ::-webkit-scrollbar {
    width: .75rem;
}
::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: rgb(78, 78, 78);
}