.dp02 {
	background-color: hsla(0, 100%, 100%, 0.07);
	box-shadow:
	0px 2px 2px 0px hsla(0,0%,0%,0.14), 
	0px 3px 1px -2px hsla(0,0%,0%,0.12), 
	0px 1px 5px 0px hsla(0,0%,0%,0.2);
}


.customBackground{
    background-color: #212529f3;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

.profile{
    width:400px;
    filter: drop-shadow(0 0 0.25rem grey);
}


.card-group.card-group-scroll {
        overflow: hidden;
        overflow-x: auto;
        flex-wrap: nowrap;
    }


.card-group.card-group-scroll > .card {
    flex-basis: 35%;
}

main {
    overflow: hidden;
  }

hr.mysolid {
    border-top: 3px solid white;
  }

  .portfoliocrop{
    height:433px;
    width: 100%;
    object-fit: cover;
  }

  .languageimage{
    height:auto;
    width: 100px;
    object-fit: cover;
  }

  ::-webkit-scrollbar {
    width: .75rem;
}
::-webkit-scrollbar-thumb {
    background-color: grey;
    border-radius: 10px;
}
::-webkit-scrollbar-track{
    border-radius: 10px;
    background-color: rgb(78, 78, 78);
}