.dp02 {
	background-color: hsla(0, 100%, 100%, 0.07);
	box-shadow:
	0px 2px 2px 0px hsla(0,0%,0%,0.14), 
	0px 3px 1px -2px hsla(0,0%,0%,0.12), 
	0px 1px 5px 0px hsla(0,0%,0%,0.2);
}

.customBackground{
    background-color: #212529f3;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

.profile{
    border-radius: 50%;
    width:400px;
}


.card-group.card-group-scroll {
        overflow: hidden;
        overflow-x: auto;
        flex-wrap: nowrap;
    }


.card-group.card-group-scroll > .card {
    flex-basis: 35%;
}