

.css-typing p {
    border-right: .125em solid white;
    white-space: nowrap;
    overflow: hidden;
  }
  .css-typing p:nth-child(1) {
    width: 8em;
    animation: type 2s steps(14, end);
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(2) {
    width: 15rem;
    opacity: 0;
    animation: type2 2s steps(14, end);
    animation-delay: 2s;
    animation-fill-mode: forwards;
  }
  
  .css-typing p:nth-child(3) {
    width: 18em;
    opacity: 0;
    animation: type3 3s steps(30, end), blink .35s step-end infinite alternate;
    animation-delay: 4s;
    animation-fill-mode: forwards;
  }
  
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .125em solid white;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .125em solid white;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .125em solid white;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .125em solid white;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: tranparent;
    }
  }